scikit-learn
google.generativeai
streamlit
catboost
imblearn
pandas 
notebook
numpy==1.22.4
scikit-learn
matplotlib
python-box==6.0.2
pyYAML
ensure==1.0.2
joblib
types-PyYAML
pathlib
subprocess.run
pillow==9.0.0
python-dotenv
-e .